@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
:root {
  --primary-color: #6b6bff;
  --secondary-color: #19197b;
  --light-color: #f2f2f2;
  --table-primary-color: #172a3a;
  --table-secondary-color: #9ecaa3;
}

/*page identification area*/
.idp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  margin: auto;
  padding-top: 50px;
  padding-left: 50px;
  position: relative;
  margin-bottom: 1rem;
}

.icon {
  display: block;
  justify-items: center;
}

.icon img {
  width: 250px;
}

.search {
  display: flex;
}

.search button {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: var(--secondary-color);
  font-weight: 400;
  cursor: pointer;
}

.search input {
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  width: 170px;
  height: 10px;
  padding: 10px;
}

/*card*/
.middle .container {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(300px, 400px) minmax(600px, 800px);
  -moz-column-gap: 10vw;
       column-gap: 10vw;
}
.middle .container .customer {
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.middle .container .customer .main-img {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.middle .container .customer .main-img img {
  width: 80%;
  height: 100%;
  border-radius: 20px;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  image-resolution: inherit;
}
.middle .container .customer .text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.middle .container .customer .text a {
  font-size: 1rem;
}
.middle .container .customer .remove {
  display: none;
  position: absolute;
  right: 290px;
  bottom: 280px;
  background-color: red;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  justify-content: center;
  cursor: pointer;
}
.middle .container .customer .remove .remove img {
  width: 30px;
  margin: 2.5px 2.5px;
}
.middle .container .card {
  display: flex;
  align-items: center;
  padding: 2% 5%;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}
.middle .container .card .info {
  color: black;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  height: 80%;
  width: 100%;
}
.middle .w {
  width: 1400px;
  margin: 50px 50px;
  align-items: center;
  font-size: 20px;
  font-weight: thin;
  color: var(--secondary-color);
}
.middle table {
  width: 90vw;
  margin: 40px 50px;
  border-collapse: collapse;
  box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #a8a8a8;
}
.middle table tr:nth-child(even) {
  background-color: var(--table-secondary-color);
}
.middle table tr {
  height: 50px;
}
.middle table th {
  height: auto;
  background-color: var(--table-primary-color);
  color: white;
}
.middle table td {
  height: auto;
  text-align: center;
  color: black;
}
.middle table th,
.middle table td {
  border: none;
}

/*footer*/
.footer {
  background-color: black;
  margin-top: 30px;
}

/*hover*//*# sourceMappingURL=customer.css.map */