<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products</title>
    <link rel="stylesheet" href="../css/utillities.css" />
    <link rel="stylesheet" href="./css/product.css" />
    <link rel="stylesheet" href="./css/new.css" />
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="middle">
      <div class="idp maxw">
        <span class="icon">
          <a href="/products/"
            ><img src="/assets/svgs/products.svg" alt="products" />
          </a>
        </span>

        <div class="search">
          <input type="text" placeholder="Search.." /><button>search</button>
        </div>
      </div>
      <div class="container maxw ma">
        <div class="product">
          <span class="remove">
            <img src="/assets/svgs/remove.svg" alt="" />
          </span>
          <div class="main-img">
            <img
              src="../assets/svgs/raw svgs/iconmonstr-picture-10.svg"
              alt=""
            />
          </div>
          <div class="text">
            <h3><a href="#">product name</a></h3>
          </div>
        </div>
      </div>
      <section>
        <form action="" method="POST" id="product">
          <label for="name">Product name:</label><br />
          <input type="text" name="name" id="name" required /><br />
          <label for="price">price:</label><br />
          <input type="number" name="price" id="price" required /><br />
          <button type="submit">submit</button><br />
        </form>
      </section>
    </div>

    <%- include('../partials/footer'); %>
  </body>
</html>
