@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
:root {
  --primary-color: #6b6bff;
  --secondary-color: #19197b;
  --light-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(170, 170, 170);
  background-color: var(--light-color);
  /* line-height: 1.6; */
}
a {
  text-decoration: none;
  color: #333;
}

p {
  font-size: 15rem;
  padding: 10rem;
}
li {
  list-style: none;
}
.ma {
  margin: auto;
}

/*general*/
.container {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/*header*/
header {
  max-height: 10vh;
  min-height: 10vh;
  background-color: black;
}

header .navbar a:hover {
  font-weight: bold;
}

.header .container .navbar ul {
  display: flex;
}
.header .container .navbar ul .navlink {
  color: var(--primary-color);
  padding-left: 50px;
}

.logo a {
  color: white;
}

.logo a span {
  color: var(--primary-color);
}

.middle {
  min-height: 80vh;
}

footer {
  max-height: 10vh;
  min-height: 10vh;
}

.maxw {
  max-width: 1400px;
}

/*footer*/
.footer {
  background-color: black;
}
