<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>customers</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="../css/utillities.css" />
  </head>

  <body>
    <%- include('../partials/header'); %>

    <section class="middle">
      <div class="idp maxw">
        <span class="icon">
          <a href="/customers/"
            ><img src="../../assets/svgs/customers.svg" alt="customers" />
          </a>
        </span>
        <div class="search">
          <input type="text" placeholder="Search.." /><button>search</button>
        </div>
      </div>
      <div class="maxw ma">
        <div class="hero">
          <% customers.forEach(customer => { %>
          <div class="customer">
            <span class="remove">
              <img src="../assets/svgs/remove.svg" alt="" />
            </span>
            <div class="main-img">
              <img
                src="../assets/svgs/raw svgs/iconmonstr-picture-10.svg"
                alt=""
              />
            </div>
            <div class="text">
              <h3>
                <a href="./<%=customer.id %>"> <%= customer.customerName %></a>
              </h3>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <%- include('../partials/footer'); %>

    <script src="./js/customer.js"></script>
  </body>
</html>
