<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/utillities.css" />
  </head>

  <body>
    <%- include('./partials/header'); %>

    <section class="middle maxw ma">
      <div class="container">
        <a href="/customers/">
          <div class="card">
            <div class="icon">
              <img src="./assets/homepage/customersIcon.svg" alt="customers" />
            </div>
            <div class="text">
              <h2>Customers</h2>
            </div>
          </div>
        </a>
        <a href="/products/">
          <div class="card">
            <div class="icon">
              <img src="/assets/homepage/productIcon.svg" alt="products" />
            </div>
            <div class="text">
              <h2>Product</h2>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="card">
            <div class="icon">
              <img src="/assets/homepage/coinIcon.svg" alt="receipts" />
            </div>
            <div class="text">
              <h2>Receipts</h2>
            </div>
          </div>
        </a>
      </div>
    </section>

    <%- include('./partials/footer'); %>
  </body>
</html>
