<footer class="footer">
    <div class="ma maxw container">
      <div class="logo">
        <h1>
          <a href="./index.html">template<span>.store</span></a>
        </h1>
      </div>
      <div class="copyrightText">
        <h3>Copyright 2021</h3>
      </div>
    </div>
  </footer>