<header class="header">
    <div class="container maxw">
      <div class="logo">
        <h1>
          <a href="/">template<span>.store</span></a>
        </h1>
      </div>
      <div class="navbar">
        <ul>
          <li><a class="navlink" href="/">Home</a></li>
          <li>
            <a class="navlink" href="/customers/">Customers</a>
          </li>
          <li><a class="navlink" href="/products/">Products</a></li>
          <li><a class="navlink" href="#">Receipt</a></li>
        </ul>
      </div>
    </div>
  </header>
