<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products | product</title>
    <link rel="stylesheet" href="../../css/utillities.css" />
    <link rel="stylesheet" href="./css/product.css" />
  </head>
  <body>
    <%- include('../../partials/header'); %>

    <div class="middle">
      <form action="" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id="name" required />
        <label for="price">price</label>
        <input type="number" name="price" id="price" required />
        <button type="submit">submit</button>
      </form>
    </div>

    <%-include('../../partials/footer'); %>
  </body>
</html>
